/* COLORS */

$mainBlue : #2ea3f2 ;
$darkerBlue: #098cf2;
$classicGray : #666;
$lightGray : #aebcc3;

/*--*/

$headerHeight: 3.375rem;
$lightBorder: 3px solid #eff5f7;

$standardTransition : .3s ease-in-out;
$lightShadow :0 2px 5px rgba(0, 0, 0, .1)